body {
  font-family: "Source Sans Pro", sans-serif;
  color: #202124;
  max-width: 400px;
  padding: 20px 50px 50px 50px;
  margin: 50px auto;
}

footer {
  font-size: 12px;
  padding-top: 50px;
  text-align: center;
  color: RGBA(32, 33, 36, 0.7);
  width: 270px;
  margin: 0 auto;
}
